*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square{
    width: 200px;
    height: 200px;
    background-color: #e3e3e3;
    margin: 5px 0;
    display: inline-block;
}
.green{
    background-color: rgb(13, 173, 13);
}
.red{
    background-color: rgb(247, 59, 59);
}
.blue{
    background-color: rgb(78, 78, 235);
}